#search-bar{
    margin-left: 20vw;
    display: flex;
    align-items: center;
}
#search-bar{
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    color: rgb(233, 229, 224);
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
}
body{
    background-color: #151515 ;
}
#search-bar input{
    margin-left: 20px ;
    height: 30px;
    width: 300px;
    border-radius: 8px;
}