<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>VGBD</title>
  </head>

  <body>
    <header>
      <div class="menu">
        <ul>
          <li><a href="home.html">HOME</button></a></li>
          <li><a href="following.html">FOLLOWING</button></a></li>
          <li><a href="genres.html">GENRES</button></a></li>
          <li><a href="platforms.html">PLATFORMES</button></a></li>
        </ul>
      </div>
      <div id="search-bar">
        <h1>VGBD</h1>
        <form id="search-form">
          <input type="text" id="search-input" placeholder="search-VGBD" />
          <a href="library.html"><button type="button" class="btn btn-outline-primary">LIBRARY</button></a>
          <a href="login.html"><button type="button" class="btn btn-outline-primary">LOGIN</button></a>
          <a href="signUp.html"><button type="button" class="btn btn-outline-primary">SIGN UP</button></a>
          <button id="deleteUserBtn" type="button" class="btn btn-outline-primary">DELETE ACCOUNT</button>
        </form>
      </div>