<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>VGBD</title>
  </head>

  <body>
    <header>
      <div id="search-bar">
        <h1>VGBD</h1>
        <form id="search-form">
          <input type="text" id="search-input" placeholder="search-VGBD" />
          <a href="following"><button type="button" class="btn btn-outline-primary">FOLLOWING</button></a>
          <a href="genre"><button type="button" class="btn btn-outline-primary">GENRE</button></a>
          <a href="platforms"><button type="button" class="btn btn-outline-primary">PLATFORMES</button></a>
          <a href="library"><button type="button" class="btn btn-outline-primary">LIBRARY</button></a>
          <a href="login"><button type="button" class="btn btn-outline-primary">LogIn</button></a>
          <a href="signUp"><button type="button" class="btn btn-outline-primary">SignUp</button></a>
        </form>
      </div>
      
      <div id="games-gride"></div>
    </header>
    <main></main>
    <footer></footer>
    <script src="/static/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
