<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
    <form action="/" method="GET"> ==> #la route sera comme l'url qui va rediriger vers la fonction python
        exemple genre la route user/delete on va l'utiliser pour la fonction delete_user pour supprimer une utilisateur...
        <button type="submit">Déclencher l'action</button> ===> bouton pour déclenchez l'action
    </form>
</body>
</html>




   


