#Ceci est un exemple pour les routes et tout genre le lien avec les fonction python 
    et les boutons 

    <body>
        <h1>Cliquez sur le bouton pour déclencher l'action</h1>
        <form action="/user/delete" method="GET"> ==> #la route sera comme l'url qui va rediriger vers la fonction python
            exemple genre la route user/delete on va l'utiliser pour la fonction delete_user pour supprimer une utilisateur...
            <button type="submit">Déclencher l'action</button> ===> bouton pour déclenchez l'action
        </form>
    </body>

   #Rajouter Library , Following ( c'est plus pro je trouve )
   #Rajouter les boutons genre , platforms , developers , Home , Library , Following qui renvoi 
    aux  pages pour les genres , platforms , developers , Home , Library , Following




   


