#Ceci est un exemple pour les routes et tout genre le lien avec les fonction python 
    et les boutons 

    <body>
        <h1>Cliquez sur le bouton pour déclencher l'action</h1>
        <form action="/user/delete" method="GET"> ==> #la route sera comme l'url qui va rediriger vers la fonction python
            exemple genre la route user/delete on va l'utiliser pour la fonction delete_user pour supprimer une utilisateur...
            <button type="submit">Déclencher l'action</button> ===> bouton pour déclenchez l'action
        </form>
    </body>

   #Rajouter Library , Following ( c'est plus pro je trouve )
   #Rajouter les boutons genre , platforms , developers , Home , Library , Following qui renvoi 
    aux  pages pour les genres , platforms , developers , Home , Library , Following

    #les pages genres , developers , home , platforms doivent avoir cette structure si possible 
    pour pouvoir les peupler à l'aide d'une API

#Exemple pour la page Genres ( pour le css c'est comme vous voulez )

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genres</title>
</head>
<body>
    <div id="genre"></div>

    <script src="script.js"></script>
</body>
</html>

#Avec dans le script.js les fonctions pour chaque pages (Allez voir dans le fichier script.js si vous voulez faire)
