<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>VGBD</title>
  </head>

  <body>
    <header>
      <div class="menu">
        <ul>
          <li><a href="/home">HOME</button></a></li>
          <li><a href="/reviews">REVIEWS</button></a></li>
          <li><a href="/following">FOLLOWING</button></a></li>
          <li><a href="/genre">GENRES</button></a></li>
        </ul>
      </div>
      <div id="search-bar">
        <h1>VGBD</h1>
        <form id="search-form">
          <input type="text" id="search-input" placeholder="search-VGBD" />
          <button type="button" class="btn btn-outline-primary" onclick="displayLibrary()">LIBRARY</button>
          <a href="/logout"><button type="button" class="btn btn-outline-primary">LOGOUT</button></a>
          <button id="deleteUserBtn" type="button" class="btn btn-outline-primary">DELETE ACCOUNT</button>
        </form>
      </div>